.favorites {
    box-sizing: border-box;
    border: 1px solid white;
    padding: 30px 20px;
    background-color: gray;
    border-radius: 10px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
    border-radius: 10px;
    height: 40px;
    background-color: white;
}

.favorites__list {
    margin-bottom: 24px;
    color: white;
}

.favorites_title{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.favorites__save {
    border: none;
    background-color: white;
    padding: 10px 15px;
    color: black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
    background-color: red;
    color: white;
}

.favorites_close{
    background-color: white;
    border-radius: 20px;
    color: black;
}

.favorites_close:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.favorites_click{
    color: white;
}

.favorites_click:hover{
    cursor: pointer;
    color: red;
}